[Unit]
Description=Remote nftables agent for Fail2Ban
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_NET_ADMIN
ExecStart=/usr/local/bin/fail2ban-remote -v -a 172.31.255.254 -p netdev -t fail2ban -s BANNED-IPV4 -P netdev -T fail2ban -S BANNED-IPV6

[Install]
WantedBy=multi-user.target
