[Unit]
Description=Create IP sets for fail2ban-remote
Before=iptables.service ip6tables.service fbr-remote.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ipset -exist create FBR_IPV4 hash:ip
ExecStart=/usr/sbin/ipset -exist create FBR_IPV6 hash:ip family inet6
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
